.Profile__Avatar {
max-width: 120px;
max-height: 120px;
border-radius: 50%;
object-fit: cover;
margin-right: 30px;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
}

@media screen and (max-width: 400px) {
.Profile__Avatar {
width: 100%;
margin: 0;
}
}

