.element__button-like {
background-image: url(../../../images/button-like.svg);
background-size: 23px 20px;
background-repeat: no-repeat;
width: 25px;
height: 21px;
background-color: rgb(255, 255, 255);
cursor: pointer;
padding: 0;
border: 1px solid #FFFFFF;
}
